@model ProyectoFinal.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deleteProduct</title>
</head>
<body>

<h3 class="mt-3">¿Está seguro que quiere eliminar el producto?</h3>
<div>
    <h4 class="mt-3">Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idProducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idProducts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
    </dl>
    
    <form asp-action="deleteProduct">
        <input type="submit" value="Delete" class="btn btncolor" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
